@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
}

body {
@apply bg-[#121212] transition-all ease-in duration-300 font-poppins;
}


.rounded-div{
  @apply border  shadow-lg border-gray-200 bg-[#121212] border-[#121212] text-white  w-full mx-auto;
}

.text-color{
  @apply text-black dark:text-white
}

.sign-btn{
  @apply bg-blue-300 text-black dark:text-white dark:bg-blue-900 rounded-xl w-full py-2 mt-3
}

.about-text > a{
  @apply dark:text-blue-400 text-blue-700
}
 @keyframes scroll {
0% { transform: translateY(0); opacity: 1; }
100% { transform: translateY(12px); opacity: 0; }
        }
.animate-scroll {
          animation: scroll 1.5s infinite;
        }